{% block bramble %}
    <div id="spinner-container">
        <div class="thimble-spinner"></div>
        <div class="message">Loading Project</div>
    </div>
    <div class="bramble-toolbar">
        {% include './nav-options.html' %}
    </div>
    <div id="webmaker-bramble"></div>
    <script src="{{ editorHOST }}/dist/bramble.js"></script>
    <script id="thimble-script"
            src="/scripts/vendor/require.min.js"
            data-main="{{ mainURL }}"
            data-project-details="{{ projectMetadata }}"
            data-editor-host="{{ editorHOST }}"
            data-editor-url="{{ editorURL }}"
            data-app-url="{{ appURL }}">
    </script>
{% endblock %}
